#.gitignore
131022014_Detailed_Protocols.docx
Booklet_2016.docx
#"Phenotypic profiling of the human genome\nby time-lapse microscopy reveals cell\ndivision genes-supplement.pdf"
#"Phenotypic profiling of the human genome\nby time-lapse microscopy reveals cell\ndivision genes.pdf"
#draft_detailled_protocol_and_booklet_description.md
microscopy_Thomas.md
commit_msg.txt
Tutorial_HTM_2016_cache
96_well_plate.jpeg
Sommer et al._2013_Bioinformatics (Oxford, England)_CellH5 a format for data exchange in high-content screening.pdf
Tutorial_HTM_2016.R
Tutorial_HTM_2016_files/
p12_data/
HTP-Course_booklet.pdf
Schedule_HTM_2016_excel.xlsx
htm_course_2016/
Tutorial_HTM_2016.knit.md
Tutorial_HTM_2016.pdf
Tutorial_HTM_2016.utf8.md
.Rhistory
